{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}
    
<div class="container mb-5">

    <div class="col-12 mx-auto">
        <div class="col-12 mx-auto">
            <img src="/static/img/CGMLTI.png" class="imgpage" alt="XLS" />
        </div>
        

        <div class="col-10 mx-auto m-5 p-5 ">
            <div class="row ">
                <div class="col-lg-6 col-sm-11 mx-auto ">
                    <div class="col-11 mx-auto mb-5 c">
                        <h3>Información del Aprendiz</h3>
                    </div>

                    <div class="col-9 mx-auto mb-3">
                        <h5>Ficha:  {{aprendix[1]}}</h5>
                        <h5>Doc Identidad:  {{aprendix[5]}}</h5>
                        <h5>Nombre:  {{aprendix[2]}}</h5>
                        <h5>Apellidos:  {{aprendix[3]}}</h5>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-11 mx-auto backs">
                    <div class="col-11 mx-auto mb-5 c">
                        <h3>Instructores por Evaluar</h3>
                    </div>
                    <form action="{{ url_for('testing') }}" method=”POST”> 
                        {{ form.csrf_token }}
                        {% for instructor in instructoresFaltan %}
                        
                            <div class="col-lg-11 col-sm-10 mx-auto">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="instructor" id="instructor" value="{{ instructor[9] }}">
                                    <h6><label class="form-check-label" for="instructor">{{ instructor[0] }} {{ instructor[7] }} {{ instructor[8] }}</label></h6>
                                </div>
                            </div>

                        {% endfor %}

                        <input class="form-check-input" type="hidden" name="aprendiz" id="aprendiz" value="{{aprendix[5]}}">

                        <div class="d-grid gap-2 col-8 mx-auto mt-5 mb-5">
                            <button class="btn btn-dark" type="submit">Evaluar</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <hr>
    </div>

</div>

{% endblock %}
