venv
venv/*
static/docs/instructores.json

instructors/loadings/venv
instructors/loadings/venv/*
instructors/testings/venv
instructors/testings/venv/*

instructors/loadings/__pycache__
instructors/testings/__pycache__
