venv
venv/*

instructors/loadings/venv
instructors/loadings/venv/*
instructors/testings/venv
instructors/testings/venv/*

instructors/loadings/__pycache__
instructors/testings/__pycache__

fichas_evaluacion_instructores
fichas_evaluacion_instructores/*

plantillas
analitycs

