/* common */

body {
    color: black;

}
.backs{
    border-radius: 2rem;
    padding-top: 3rem;
    color: white;
    background: #F76300;
    background: -webkit-linear-gradient(to right, #f58b44, #F76300, #c44f01);
    background: linear-gradient(to left, #f58b44, #F76300, #c44f01);
}
.borde {
    border: solid 1px black !important;
}
.c {
    text-align: center !important;
}
.hidden {
    display: none;
}
.hr {
    color: rgb(194, 194, 242);
    height: 3px !important;
}

.sticky {
    position: sticky;
    top: 10px;
}
.lists{
    list-style-type: none;
}
.btn-color{
    background:#1b1466;
    border-color: #1b1466;
}
.btn-color2{
    background:#146622;
    border-color: #146622;
}
.alrig{
    text-align: right
}

.fixed2 {
    background-image: url('../img/backgrounds/vector3.jpg');
    position: fixed;
}

/* navbart */

.imgnav {
    width: 80px;
    height: auto;
    vertical-align: middle;
    border-style: none;
    -webkit-margin-bottom-collapse: initial;
    margin-right: 30PX;
    padding-top: 2px;
    padding-left: 30px;
    z-index: 1;
}
.atxt1 {
    color: #9999ff !important;
}
.stic {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.prod {
    z-index: -1 !important;
}

/* footer */

.b-fixed{
    position: fixed !important;
    bottom: 10px;
    z-index: 1;
}

.back-black {
    color: aliceblue;
    background-color: black;
}

/* back-to-top */

.backtotop {
    width: 40pt;
    height: auto;
    position: fixed;
    bottom: 4.50rem;
    right: 1.75rem;
    z-index: 999;
}

.backtotop:hover {
    color: transparent;
    background-color: transparent;
}

/* bootstrap */

.toast-body{
    color: black !important;
}

/* ICONS */

.imgico{
    width: 80px;
    height: auto;
    vertical-align: middle;
    border-style: none;
    -webkit-margin-bottom-collapse: initial;
    margin-right: 30PX;
    padding-top: 2px;
    padding-left: 30px;
    z-index: 1000;
}

.imgpage{
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    -webkit-margin-bottom-collapse: initial;
    margin-right: 30PX;
    padding-top: 2px;
    padding-left: 30px;
    z-index: 1000;
}

.imgfacturas{
    width: 500px;
    height: auto;
    vertical-align: middle;
    border-style: none;
    -webkit-margin-bottom-collapse: initial;
    margin-right: 30PX;
    padding-top: 2px;
    padding-left: 30px;
    z-index: 1000;
}

/* TEXTOS */

.txtupp {
    text-transform: uppercase;
}

.txtlow {
    text-transform: lowercase;
}

.txtcap {
    text-transform: capitalize;
}